---
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <div class="mx-auto max-w-screen-lg px-5">
    <div class="flex flex-wrap gap-y-2 justify-between" >
      <Link href="/" exact>
          {SITE.NAME}
      </Link>
      <nav class="flex gap-4">
        <Link href="/articles">
          Articles
        </Link>
      </nav>
    </div>
  </div>
</header>
