---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
    <!-- <script>
      const script = document.createElement("script");
      const container = document.querySelector("#utterances-container");
      const currentTheme = localStorage.getItem("theme");
    
    
      Object.entries({
        src: "https://utteranc.es/client.js",
        repo: "9yujin/blog-astro",
        "issue-term": "pathname",
        label: "post comments",
        theme: currentTheme == "light" ? "github-light" : "github-dark",
        crossorigin: "anonymous",
      }).forEach(([key, value]) => {
        script.setAttribute(key, value);
      });
    
      container?.appendChild(script);
    </script> -->
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
